/* General float clearing. */
ul.uw_org_chart li > ul > li > div:after {
  clear: both;
  content: " ";
  display: block;
  line-height: 0;
  height: 0;
  visibility: hidden;
}
ul.uw_org_chart,
ul.uw_org_chart > li {
  padding-left: 0;
}
ul.uw_org_chart li > ul {
  padding: 0 0 0 0.5em;
  margin: 0 0 0 1.5em;
}
ul.uw_org_chart li > ul > li {
  border-left: 1px solid #000;
  padding-top: 1em;
  padding-left: 0;
  margin-top: 0;
  margin-left: 0;
}
ul.uw_org_chart li > ul > li:last-child {
  border-left: 0;
  margin-left: 1px;
}
ul.uw_org_chart .uw_org_chart_box {
  max-width: 16em;
  padding: 0.7em;
  border: 1px solid #000;
  text-align: center;
}
ul.uw_org_chart ul .uw_org_chart_box {
  float: left;
}
ul.uw_org_chart .uw_org_chart_box > ul {
  text-align: left;
}
ul.uw_org_chart ul .uw_org_chart_connector {
  float: left;
  width: 1.0em;
  height: 2.2em;
  margin-top: -1em;
  margin-left: -1px;
  border-bottom: 1px solid #000;
  border-left: 1px solid #000;
}
ul.uw_org_chart > li,
ul.uw_org_chart li > ul > li {
  list-style: none;
}
ul.uw_org_chart li {
  margin: 0;
}
